In [1]:
# 1-Convert an integer to a floating-point number.
int_num=42
float_number=float(int_num)
print(float_number)

42.0

In [2]:
# 2-Convert a float to an integer.
float_num=85.6
int_num=int(float_num)
print(int_num)

85

In [4]:
# 3-Convert an integer to a string.
int_number=56
string_representation=str(int_number)
print(string_representation)

56

In [5]:
# 4-Convert a list to a tuple.
list=[1,2,3,4,5,6,]
tuple_number=tuple(list)
print(tuple_number)

(1, 2, 3, 4, 5, 6)

In [1]:
# 5-Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5]

In [6]:
# 6-Convert a decimal number to binary.
decimal_number=60
binary_number=bin(decimal_number)
print(binary_number)

0b111100

In [7]:
# 7-Convert a non zero number to boolean.
number=42
boolean_number=bool(number)
print(boolean_number)

True